node_modules/
dist/
prototype-wassette-pi/core/node_modules/
prototype-wassette-pi/core/dist/
prototype-wassette-pi/components/node_modules/
prototype-wassette-pi/components/dist/
prototype-wassette-pi/.wassette-components/
prototype-wassette-pi/dist/
prototype-wassette-pi/artifacts/
.DS_Store
*.mcpb
.vercel
bun.lock
.vscode
opencode.json
